<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- the css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="navbar">
    <!--scripts for js-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.bootstrap5.js"></script>
</head>
<!--chart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<body>
    <div class="cointainer">
        <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div style="background-color: #2cb34a" class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/sales">Sales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/stock">Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/dashboard">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        {% block content %}

        {% endblock %}

        <div>
            <div>
                <footer class="text-center text-lg-start text-white" style="background-color:  #E8F5E9">
                    <!-- Grid container -->
                    <div class="container p-4 pb-0">
                        <!-- Section: Links -->
                        <section class="">
                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                    <h5 class="text-uppercase text-success">ABOUT THE COMPANY</h5>

                                    <p class="text-dark">
                                        Stock management, we empower businesses to streamline inventory, track sales and
                                        grow with confidence. platform is designed for simplicity, speed and smart
                                        decision making.
                                    </p>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                    <h5 class="text-success">Company Info</h5>

                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">about us</a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">career</a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                    <h5 class="text-success">Support Info</h5>

                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">email:</a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">phone</a>
                                        </li>
                                        <li>
                                            <a href="#!" class="text-success-emphasis text-decoration-none fw-bold">live
                                                chat</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                    <h5 class="text-success">Resources</h5>

                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">blog/
                                                article</a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">documentation</a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">community
                                                forum</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                    <h5 class="text-success">Legal</h5>

                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">terms and
                                                conditions </a>
                                        </li>
                                        <li>
                                            <a href="#!"
                                                class="text-success-emphasis text-decoration-none fw-bold">Frequently
                                                asked questions</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                        </section>
                        <!-- Section: Links -->

                        <hr class="mb-4 text-success" />

                        <!-- Section: CTA -->
                        <section class="">
                            <p class="d-flex justify-content-center align-items-center">
                                <span class="me-3 text-success">Register for free <a class="btn btn-floating m-1"
                                        href="#!" role="button"><i class="fa-solid fa-hand-point-right fa-bounce fa-lg"
                                            style="color: rgb(20, 204, 148);"></i></a></span>
                                <a href="/register"><button type="button"
                                        class="btn btn-outline-success text-dark rounded-5 fw-bold">Sign
                                        up!</button></a>
                            </p>
                        </section>
                        <!-- Section: CTA -->

                        <hr class="mb-4 text-success" />

                        <!-- Section: Social media -->
                        <div style="background-color: #afdfb3;" class="rounded-2">
                            <section class="mb-4 text-center">
                                <!-- Facebook -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                        class="fa-brands fa-facebook fa-lg" style="color: rgb(10, 102, 231);"></i></a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-light btn-floating m-1 bg" href="#!" role="button"><i
                                        class="fa-brands fa-square-x-twitter fa-lg"
                                        style="color: rgb(7, 6, 6);"></i></a>

                                <!-- Google -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                        class="fa-brands fa-google fa-lg" style="color: rgb(73, 162, 234);"></i></a>

                                <!-- Instagram -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                        class="fa-brands fa-square-instagram fa-lg"
                                        style="color: rgb(150, 41, 135);"></i></a>

                                <!-- Linkedin -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                        class="fa-brands fa-linkedin fa-lg" style="color: rgb(116, 192, 252);"></i></a>

                                <!-- Github -->
                                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                        class="fa-brands fa-github fa-lg" style="color: rgb(0, 0, 0);"></i></a>
                            </section>
                            <!-- Section: Social media -->
                        </div>
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: #73e77d">
                        © 2026 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">my_duka.com</a>
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- Footer -->
            </div>
            <!-- End of .container -->
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>