{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
<div>
    <h2 class="text-success fw-bold text-center">PRODUCTS </h2>
    <p>
        The Products page is the central hub for managing your inventory. Each item is displayed in a clean card layout
        with a white background, faint green accents, and black text for clarity. Product cards show the name, price,
        and stock quantity at a glance, with quick-action buttons to Edit or Delete. A bold green “Add Product” button
        at the top makes it easy to expand your catalog. The design emphasizes simplicity and efficiency, helping you
        track and update stock seamlessly.

    </p>
    <div>
    </div>
    <div class="cointainer-fluid">
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for products in products %}
                <tr>
                    <td> {{ products[0] }}</td>
                    <td>{{ products[1] }}</td>
                    <td> {{ products[2] }}</td>
                    <td>{{ products[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}