{% extends 'base.html' %}
{% block title %} stock {% endblock %}
{% block content %}

<div>
    <h2 class="text-success text-center">
        Stock
    </h2>
    <p class="mx-5">The Stock page gives you a clear view of your inventory levels, helping you stay on top of product availability
        and avoid shortages. Each item is listed with its current quantity, reorder thresholds, and status indicators.
        Faint green highlights mark items that are well-stocked, while bold green alerts draw attention to low or
        critical levels. With simple controls to update quantities or add new stock, this page ensures your business
        runs smoothly and efficiently</p>
</div>




{% endblock %}