{% extends 'base.html' %}
{% block title %} stock {% endblock %}
{% block content %}

<div>
    <h2 class="text-success text-center">
        Stock
    </h2>
    <p class="mx-5">The Stock page gives you a clear view of your inventory levels, helping you stay on top of product availability
        and avoid shortages. Each item is listed with its current quantity, reorder thresholds, and status indicators.
        Faint green highlights mark items that are well-stocked, while bold green alerts draw attention to low or
        critical levels. With simple controls to update quantities or add new stock, this page ensures your business
        runs smoothly and efficiently</p>
</div>
<div class="m-3">
    <form method="post" action="/insert_stock">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">product Id</label>
            <input type="number" name="product" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
            <input type="number" name="stock" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container">
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Stock Id</th>
                <th>pid</th>
                <th>Stock Quantity</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock %}
            <tr>
                <td> {{ stock[0] }}</td>
                <td>{{ stock[1] }}</td>
                <td> {{ stock[2] }}</td>
                <td>{{ stock[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}